.login {
  background-color: #f5ecdc; 
}

#login h1 a {
  background: url('../images/AnnieChuns_Logo.png') center 0 no-repeat;
  width: 164px;
  height: 71px;
  background-size: 164px 71px; 
}

.login p#backtoblog a:link, 
.login p#backtoblog a:visited {
  color: #000;
  text-shadow: none; 
}

.login .message {
  background-color: #dbd2e7;
  color: #513318;
  border-color: #754297;
  text-align: center; 
}

.login input[type=text]:focus,
.login input[type=password]:focus {
  border-color: #754297;
  box-shadow: none;
}

.login #backtoblog {
  text-align: center; 
}

.login #backtoblog a,
.login #backtoblog a:hover, 
.login #backtoblog a:active {
  color: #424242; 
}

#loginform {
  background: none;
  border: 0;
  box-shadow: none; 
}

.login #nav {
  display: none; 
}

#loginform .button-primary {
  background-color: #754297;
  background-image: none;
  border-color: #754297;
  -webkit-box-shadow: none; 
  box-shadow: none;
  text-shadow: none;
}

