/* Slider */

.slick-slider {
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
      float: right;
  }

  img {
    display: block;
  }
    
  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    border: 1px solid transparent;
    height: auto;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

$slick-font-path: "./fonts/" !default;
$slick-font-family: "FontAwesome" !default;
$slick-loader-path: "./images/" !default;
$slick-arrow-color: #dccdc1 !default;
$slick-dot-color: white !default;
$slick-dot-color-active: $primary-color !default;
$slick-prev-character: "\f104" !default;
$slick-next-character: "\f105" !default;
$slick-dot-character: "\f111" !default;
$slick-dot-size: 23px !default;
$slick-opacity-default: 0.8 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.8 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {

  .slick-loading & {
    background: $white slick-image-url('ajax-loader.gif') center center no-repeat;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  height: 30px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  
  &:hover {
    outline: none;
    background: transparent;
    color: transparent;
    
    &:before {
      opacity: 1;
      color: $secondary-color;
    }
  }

  &:focus {
    outline: none;
  }

  &.slick-disabled:before {
    opacity: 1;
  }

  &:before {
    font-family: $slick-font-family;
    font-size: 30px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: rem-calc(20px);

  @include breakpoint(xlarge) {
    left: -25px;
  }

  @include breakpoint(xxlarge) {
    left: rem-calc(-75px);
  }

  [dir="rtl"] & {
    left: auto;
    right: -25px;
  }

  &:before {
    content: $slick-prev-character;

    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: rem-calc(20px);

  @include breakpoint(xlarge) {
    right: -25px;
  }

  @include breakpoint(xxlarge) {
    right: rem-calc(-75px);
  }

  [dir="rtl"] & {
    left: -25px;
    right: auto;
  }

  &:before {
    content: $slick-next-character;
    
    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}

/* Dots */

.slick-dots {
  position: absolute;
  top: rem-calc(205px);
  list-style: none;
  display: block;
  text-align: right;
  padding: 0;
  margin: 0;
  width: 100%;

  @include breakpoint(medium) {
    top: auto;
    bottom: rem-calc(70px);
  }
    
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: rem-calc(0 2px);
    padding: 0;
    cursor: pointer;

    @include breakpoint(medium) {
      margin: rem-calc(0 5px);
    }

    &:first-child {
      margin-left: rem-calc(30px);

      @include breakpoint(medium) {
        margin-left: rem-calc(5px);
      }
    }
    
    @include breakpoint(medium) {

      &:last-child {
        margin-right: rem-calc(30px);
      }
    }
    
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      
      &:hover,
      &:focus {
        outline: none;
        
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: rem-calc(17px);
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include breakpoint(medium) {
          font-size: $slick-dot-size;
        }
      }
    }
    
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}
