body {
  overflow-x: hidden;
}

a {
  transition: all .3s ease-in-out;
}

@media print {
  a {
    text-decoration: none;

    &[href]:after {
      content: none !important;
    }
  }
}

// WordPress Defaults
.wp-caption {
  max-width: 100%;
}

.wp-caption-text,
.gallery-caption {
  text-align: center;
  color: $medium-gray;
  font-size: rem-calc(12px);
}

.alignleft {
  float: left;
  margin: rem-calc(0 30px 10px 0);
}

.alignright {
  float: right;
  margin: rem-calc(0 0 10px 30px);
}

.aligncenter {
  display: block;
  float: none;
  margin: 1rem auto;
}

.alignnone {
  display: block;
  float: none;
  margin: 1rem 0;
}

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000; // Above WP toolbar.
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  background-color: $light-gray;
  padding: rem-calc(15px 23px 14px);
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: $warning-color;
  font-size: rem-calc(16px);
  font-weight: 700;
  clip: auto !important;
}

.at-sign {
  font-family: 'Helvetica';
}

// glphyicon for store locator
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  display: inline-block;
  position: relative;
  top: 1px;
  line-height: 1;
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  font-style: normal;

  &-search:before {
    content: '\e003';
  }
}

.offset {

  &::before {
    display: block;
    content: '';
    height: 60px; /* Give height of your fixed element */
    margin-top: -60px; /* Give negative margin of your fixed element */
    visibility: hidden;
  }
}

