.contact {

  &__hero {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: rem-calc(210px);

    @include breakpoint(medium) {
      height: rem-calc(350px);
    }

    @include breakpoint(large) {
      height: rem-calc(440px);
    }
  }

  &__body {
    @include grid-row;
    padding: rem-calc(40px 0);

    @include breakpoint(large) {
      padding: rem-calc(70px 0);
    }
  }

  &__text {
    @include grid-col;
    color: $secondary-color;

    @include breakpoint(medium) {
      @include grid-col(4);
    }

    h1 {
      margin-bottom: rem-calc(15px);
      text-transform: uppercase;
      line-height: 1;
    }
  }

  &__form {
    @include grid-col;

    @include breakpoint(medium) {
      @include grid-col(8);
    }
  }
}
