.default {

  &__hero {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: rem-calc(210px);

    @include breakpoint(medium) {
      height: rem-calc(350px);
    }

    @include breakpoint(large) {
      height: rem-calc(440px);
    }

    &-inner {
      @include grid-column-row;
      display: table;
      height: 100%;

      h1 {
        display: none;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1;
        font-size: rem-calc(80px);

        @include breakpoint(medium) {
          display: table-cell;
        }

        @include breakpoint(large) {
          font-size: rem-calc(110px);
        }

        span {
          display: block;
        }
      }
    }
  }

  &__body {
    @include grid-row;
    padding-top: rem-calc(30px);

    @include breakpoint(large) {
      padding-top: rem-calc(60px);
    }

    &-inner {
      @include grid-col;
      text-align: center;
      color: $secondary-color;
      font-family: $alternate-font-family;
      font-style: italic;

      @include breakpoint(large) {
        @include grid-col(8);
        @include grid-column-offset(2);
        font-size: rem-calc(22px);
      }
    }

    .down {
      @extend %image-replacement;
      display: block;
      margin: rem-calc(10px) auto 0;
      background: url('images/arrow-down.svg') no-repeat 0 0;
      background-size: rem-calc(47px 24px);
      width: rem-calc(47px);
      height: rem-calc(24px);
    }
  }

  &__featured {
    padding-bottom: rem-calc(60px);
    text-align: center;

    @include breakpoint(large) {
      padding-top: rem-calc(25px);
    }

    .products__carousel-item {
      display: inline-block;
      float: none !important;
    }
  }

  &__carousel {
    @include grid-row;
    padding-top: rem-calc(40px);
    padding-bottom: rem-calc(40px);
    text-align: center;

    @include breakpoint(large) {
      padding-top: rem-calc(60px);
      padding-bottom: rem-calc(70px);
    }

    h3 {
      color: $secondary-color;
      font-size: rem-calc(26px);

      @include breakpoint(large) {
        font-size: rem-calc(30px);
      }
    }
  }
}
