.homepage {

  &__slider {
    background: $beige;
    padding-bottom: rem-calc(15px);

    @include breakpoint(medium) {
      background: none;
      padding-bottom: 0;
    }
  }

  &__slide {
    position: relative;

    @include breakpoint(medium) {
      padding-bottom: rem-calc(45px);
    }

    &-inner {

      @include breakpoint(medium) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        max-width: rem-calc(1180px);
      }
    }

    &-text {
      padding: rem-calc(30px 30px 0);

      @include breakpoint(medium) {
        padding: rem-calc(0 30px);
      }

      @include breakpoint(xlarge) {
        padding: 0;
      }

      &-product {

        @include breakpoint(medium) {
          padding-bottom: rem-calc(210px);
        }
      }

      h2 {
        display: block;
        position: relative;
        width: auto;
        max-width: rem-calc(500px);
        text-transform: uppercase;
        line-height: 1;
        font-size: rem-calc(50px);

        @include breakpoint(small only) {
          color: $secondary-color !important;
        }

        @include breakpoint(medium) {
          display: inline-block;
          font-size: rem-calc(70px);
        }

        @include breakpoint(large) {
          font-size: rem-calc(110px);
        }

        span {
          display: block;
          position: relative;
          padding-bottom: rem-calc(15px);

          @include breakpoint(small only) {
            color: $secondary-color !important;
          }

          @include breakpoint(medium) {
            display: inline-block;
          }

          &.dark {
          
            &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              background: url('images/dots.svg') repeat-x left bottom;
              background-size: rem-calc(778px 2px);
              width: 100%;
              max-width: rem-calc(478px);
              height: rem-calc(2px);
              content: '';
            }
          }

          &.light {
            
            &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              background: url('images/dots.svg') repeat-x left bottom;
              background-size: rem-calc(778px 2px);
              width: 100%;
              max-width: rem-calc(478px);
              height: rem-calc(2px);
              content: '';

              @include breakpoint(medium) {
                background: url('images/dots-white-horizontal.svg') repeat-x left bottom;
                background-size: rem-calc(778px 2px);
              }
            }
          }
        }
      }

      p {
        position: relative;
        margin: rem-calc(15px 0 0);
        padding-right: rem-calc(40px);
        max-width: rem-calc(510px);
        font: #{rem-calc(16px)} / #{1.3} $alternate-font-family;
        font-style: italic;

        @include breakpoint(small only) {
          color: $secondary-color !important;
        }

        @include breakpoint(medium) {
          font-size: rem-calc(22px);
        }
      }

      .go-btn {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: rem-calc(-20px);
        border-radius: 50%;
        background: $primary-color;
        width: rem-calc(40px);
        height: rem-calc(40px);
        text-align: center;
        color: $white;
        font: #{rem-calc(16px)} / #{rem-calc(40px)} $body-font-family;
        font-weight: 600;

        &:hover {
          background: $light-primary;
          color: $primary-color;
        }
      }
    }

    &-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: rem-calc(240px);

      @include breakpoint(medium) {
        height: rem-calc(460px);
      }

      @include breakpoint(large) {
        height: rem-calc(565px);
      }

      @media print {
        display: none;
      }
    }

    &-product {
      position: absolute;
      top: rem-calc(120px);
      left: rem-calc(30px);
      width: 100%;
      max-width: rem-calc(1180px);

      @include breakpoint(medium) {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &-inner {
        width: 100%;

        @include breakpoint(medium) {
          max-width: rem-calc(450px);
          text-align: center;
        }
      }

      a {
        display: inline-block;

        @include breakpoint(medium down) {
          img {
            width: auto !important;
            height: rem-calc(150px);
          }
        }
      }
    }
  }

  &__products {
    @include grid-row;
    padding: rem-calc(30px 0);

    @include breakpoint(large) {
      padding: rem-calc(20px 0 65px);
    }

    &-inner {
      @include grid-col;
      text-align: center;
    }

    &-intro {
      color: $secondary-color;
      font: rem-calc(26px) $header-font-family;

      @include breakpoint(medium) {
        font-size: rem-calc(30px);
      }

      p {
        line-height: 1.2;
      }
    }

    .button {
      margin-bottom: 0;
    }
  }

  &__block {
    padding: rem-calc(30px 0);

    @include breakpoint(large) {
      padding: rem-calc(80px 0);
    }

    &:nth-child(odd) {
      background: $beige;
    }

    &:nth-child(even) {

      .homepage__block-image {

        @include breakpoint(medium) {
          @include grid-column-position(6);
        }

        @include breakpoint(large) {
          @include grid-column-position(5);
        }
      }

      .homepage__block-text {

        @include breakpoint(medium) {
          @include grid-column-position(-6);
        }

        @include breakpoint(large) {
          @include grid-column-position(-7);
        }

        h3 {
          color: $green;
        }
      }
    }

    &-inner {
      @include grid-row;
    }

    &-padding {

      @include breakpoint(medium) {
        padding: rem-calc(0 20px);
      }
    }

    &-image {
      @include grid-col;
      margin-bottom: rem-calc(10px);

      @include breakpoint(medium) {
        @include grid-col(6, 60px);
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        @include grid-col(7, 60px);
      }
    }

    &-text {
      @include grid-col;

      @include breakpoint(medium) {
        @include grid-col(6, 60px);
        display: table;
      }

      @include breakpoint(large) {
        @include grid-col(5, 60px);
      }

      h3 {
        text-transform: uppercase;
        line-height: 1.1;
        color: $orange;
        font-size: rem-calc(44px);

        @include breakpoint(large) {
          font-size: rem-calc(58px);
        }
      }

      h4 {
        margin-bottom: rem-calc(12px);
        background: url('images/dots.svg') repeat-x left bottom;
        background-size: rem-calc(775px 2px);
        padding-bottom: rem-calc(8px);
        color: $secondary-color;
      }

      .button {
        margin: rem-calc(10px 0 0);
      }
    }

    &-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }
  
}
