.press {

  &__hero {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: rem-calc(210px);

    @include breakpoint(medium) {
      height: rem-calc(350px);
    }

    @include breakpoint(large) {
      height: rem-calc(440px);
    }

    &-inner {
      @include grid-column-row;
      display: table;
      height: 100%;

      h1 {
        display: none;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1;
        color: $white;
        font-size: rem-calc(80px);

        @include breakpoint(medium) {
          display: table-cell;
        }

        @include breakpoint(large) {
          font-size: rem-calc(110px);
        }

        span {
          display: block;
          color: $beige;
        }
      }
    }
  }

  &__intro {
    @include grid-column-row;
    padding-top: rem-calc(40px);
    padding-bottom: rem-calc(10px);
    text-align: center;
    color: $secondary-color;
    font: rem-calc(26px) $header-font-family;

    @include breakpoint(large) {
      padding-top: rem-calc(70px);
      padding-bottom: rem-calc(30px);
      font-size: rem-calc(30px);
    }
  }

  &__grid {
    @include grid-row;

    @include breakpoint(large) {
      margin-bottom: rem-calc(20px);
    }

    &-inner {
      padding: rem-calc(0 20px);
    }
  }

  &__item {
    @include grid-col(6, 20px);
    float: left !important;
    margin-bottom: rem-calc(20px);

    @include breakpoint(medium) {
      @include grid-col(4, 20px);
    }

    @include breakpoint(large) {
      @include grid-col(3, 20px);
    }
  }

  &__cta {
    background: $beige;
    padding: rem-calc(50px 0);
    color: $secondary-color;

    &-inner {
      @include grid-column-row;
      text-align: center;

      @include breakpoint(large) {
        font-size: rem-calc(17px);
      }
    }

    h2 {
      margin-bottom: rem-calc(10px);
      text-transform: uppercase;
      font-size: rem-calc(44px);

      @include breakpoint(large) {
        font-size: rem-calc(58px);
      }
    }

    p {
      margin: 0;
    }
  }
}
