.products {

  &__hero {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: rem-calc(210px);

    @include breakpoint(medium) {
      height: rem-calc(350px);
    }

    @include breakpoint(large) {
      height: rem-calc(470px);
    }

    &-landing {

      h1 {
        color: $secondary-color;

        span {
          color: $beige-alt;
        }
      }
    }

    &-inner {
      @include grid-column-row;
      display: table;
      height: 100%;

      h1 {
        display: none;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1;
        font-size: rem-calc(80px);

        @include breakpoint(medium) {
          display: table-cell;
        }

        @include breakpoint(large) {
          font-size: rem-calc(110px);
        }

        span {
          display: block;
        }
      }
    }
  }

  &__content {
    position: relative;
  }

  &__mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: $primary-color;
    padding: rem-calc(30px 30px 15px);
    width: 100%;

    @include breakpoint(large) {
      display: none !important;
    }

    &-trigger {
      position: relative;
      transform: translateY(-50%);
      z-index: 4;
      margin: rem-calc(0 30px);
      border-radius: 10px;
      background: $light-primary;
      cursor: pointer;
      padding: rem-calc(10px);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $secondary-color;
      font-weight: 600;

      @include breakpoint(medium) {
        margin: rem-calc(0 50px);
      }

      @include breakpoint(large) {
        display: none;
      }
    }

    ul {
      margin: 0;
    }

    li {
      background: url('images/dots-white-horizontal.svg') repeat-x left bottom;
      background-size: rem-calc(778px 2px);
      cursor: pointer;
      padding: rem-calc(8px 0);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $white;
      font-weight: 600;
      list-style-type: none;

      &.active,
      &:hover {
        color: $light-primary;
      }

      a {
        color: $white;

        &:hover {
          color: $light-primary;
        }
      }

      &:last-child {
        @extend %image-replacement;
        margin-top: rem-calc(15px);
        background: url('images/arrow-up.svg') no-repeat center center;
        background-size: rem-calc(11px 9px);
        height: rem-calc(20px);
      }
    }
  }

  &__nav {
    display: none;

    @include breakpoint(large) {
      @include grid-row;
      display: block;
      margin-top: rem-calc(-25px);
      text-align: center;
      color: $secondary-color;
      font-size: rem-calc(16px);
    }

    ul {
      display: inline-block;
      margin: 0;
      border-radius: 10px;
      background: $light-primary;
      padding: rem-calc(0 10px);
      height: rem-calc(50px);
    }

    li {
      display: inline-block;
      margin: rem-calc(0 10px);
      cursor: pointer;
      text-transform: uppercase;
      line-height: rem-calc(50px);
      font-weight: 600;

      &.label {
        cursor: default;
        text-transform: none;
        font-weight: 400;
      }

      a {
        color: $secondary-color;

        &.active {
          color: $primary-color;
        }
      }
    }
  }

  &__landing {

    &-body {
      position: relative;
    }

    &-nav {
      display: none;

      @include breakpoint(large) {
        @include grid-row;
        display: block;
        transform: translateY(-50%);
        text-align: center;
        color: $secondary-color;
        font-size: rem-calc(16px);
      }

      ul {
        display: inline-block;
        margin: 0;
        border-radius: 10px;
        background: $light-primary;
        width: auto;
        max-width: calc(100% - 100px);
        padding: rem-calc(10px);
        line-height: 1.4;
      }

      li {
        display: inline-block;
        margin: rem-calc(0 5px);
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;

        &.bullet.nobullet {
          display: none;
        }

        a {
          color: $secondary-color;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  &__group {
    @include grid-row;
    position: relative;
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);

    @include breakpoint(medium) {
      padding-top: rem-calc(40px);
      padding-bottom: rem-calc(40px);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: rem-calc(30px);
      background: url('images/dots-wide.svg') no-repeat left bottom;
      background-size: rem-calc(1180px 2px);
      width: calc(100% - 60px);
      height: rem-calc(2px);
      content: '';

      @include breakpoint(medium) {
        left: rem-calc(50px);
        width: calc(100% - 100px);
      }
    }

    &:last-child {

      &::after {
        display: none;
      }
    }

    h2 {
      margin: rem-calc(0 0 5px);
      text-transform: uppercase;
      line-height: 1;
      color: $secondary-color;
      font-size: rem-calc(40px);

      @include breakpoint(xlarge) {
        font-size: rem-calc(58px);
      }
    }

    p {
      margin: 0;
      width: 100%;
      max-width: rem-calc(550px);
      color: $secondary-color;
      font: rem-calc(16px) $alternate-font-family;
      font-style: italic;

      @include breakpoint(large) {
        font-size: rem-calc(18px);
      }
    }

    &-top {
      @include grid-row;
    }

    &-description {
      @include grid-col;

      @include breakpoint(medium) {
        @include grid-col(6);
      }

      @include breakpoint(large) {
        @include grid-col(7);
      }

      @include breakpoint(xlarge) {
        @include grid-col(8);
      }
    }

    &-icons {
      @include grid-col;
      margin-top: rem-calc(20px);

      @include breakpoint(medium) {
        @include grid-col(6);
        margin-top: 0;
        text-align: right;
      }

      @include breakpoint(large) {
        @include grid-col(5);
      }

      @include breakpoint(xlarge) {
        @include grid-col(4);
      }

      ul {
        margin: 0;
      }

      li {
        display: inline-block;
        background: url('images/dots-brown-vertical.svg') no-repeat right 0;
        background-size: rem-calc(2px 73px);
        width: 24%;
        vertical-align: top;
        text-align: center;
        list-style-type: none;

        &:last-child {
          background: none;
        }

        &.vegan {
          width: 22%;
        }

        &.cholesterol {
          width: 26%;
        }

        span {
          @extend %image-replacement;
          display: block;
          margin: 0 auto;
          height: rem-calc(40px);

          @include breakpoint(medium) {
            height: rem-calc(47px);
          }

          &.non-gmo {
            background: url('images/ProductIcon_NonGMO.svg') no-repeat center -1px;
            background-size: rem-calc(52px 40px);
            width: rem-calc(52px);

            @include breakpoint(medium) {
              background-size: rem-calc(62px 48px);
              width: rem-calc(62px);
            }
          }

          &.organic {
            background: url('images/ProductIcon_Organic.svg') no-repeat center 0;
            background-size: rem-calc(41px 40px);
            width: rem-calc(41px);

            @include breakpoint(medium) {
              background-size: rem-calc(48px 47px);
              width: rem-calc(48px);
            }
          }

          &.vegan {
            background: url('images/ProductIcon_Vegan_Brown.svg') no-repeat center 0;
            background-size: rem-calc(42px 40px);
            width: rem-calc(42px);

            @include breakpoint(medium) {
              background-size: rem-calc(48px 46px);
              width: rem-calc(62px);
            }
          }

          &.certified-vegan {
            background: url('images/ProductIcon_CertifiedVegan_Brown.svg') no-repeat 45% 0;
            background-size: rem-calc(42px 42px);
            width: rem-calc(42px);

            @include breakpoint(medium) {
              background-size: rem-calc(47px 47px);
              width: rem-calc(62px);
            }
          }

          &.gluten-free {
            background: url('images/ProductIcon_GlutenFree_Brown.svg') no-repeat center 0;
            background-size: rem-calc(64px 40px);
            width: rem-calc(64px);

            @include breakpoint(medium) {
              background-size: rem-calc(74px 46px);
              width: rem-calc(74px);
            }
          }

          &.certified-gluten-free {
            background: url('images/ProductIcon_CertifiedGF_Brown.svg') no-repeat 45% 0;
            background-size: rem-calc(42px 42px);
            width: rem-calc(42px);

            @include breakpoint(medium) {
              background-size: rem-calc(47px 47px);
              width: rem-calc(62px);
            }
          }

          &.fat {
            background: url('images/ProductIcon_1gFat_Brown.svg') no-repeat center 0;
            background-size: rem-calc(54px 40px);
            width: rem-calc(54px);

            @include breakpoint(medium) {
              background-size: rem-calc(62px 46px);
              width: rem-calc(62px);
            }
          }

          &.fat-0 {
            background: url('images/ProductIcon_0gFat_Brown.svg') no-repeat center 0;
            background-size: rem-calc(54px 40px);
            width: rem-calc(54px);

            @include breakpoint(medium) {
              background-size: rem-calc(62px 46px);
              width: rem-calc(62px);
            }
          }

          &.low-fat {
            background: url('images/ProductIcon_LowFat_Brown.svg') no-repeat center 0;
            background-size: rem-calc(54px 40px);
            width: rem-calc(54px);

            @include breakpoint(medium) {
              background-size: rem-calc(62px 46px);
              width: rem-calc(62px);
            }
          }

          &.sat-fat {
            background: url('images/ProductIcon_1gSatFat_Brown.svg') no-repeat center 0;
            background-size: rem-calc(54px 40px);
            width: rem-calc(54px);

            @include breakpoint(medium) {
              background-size: rem-calc(62px 46px);
              width: rem-calc(62px);
            }
          }

          &.sat-fat-0 {
            background: url('images/ProductIcon_0gSatFat_Brown.svg') no-repeat center 0;
            background-size: rem-calc(54px 40px);
            width: rem-calc(54px);

            @include breakpoint(medium) {
              background-size: rem-calc(62px 46px);
              width: rem-calc(62px);
            }
          }

          &.cholesterol {
            background: url('images/ProductIcon_0gCholesterol_Brown.svg') no-repeat center -13px;
            background-size: rem-calc(66px 66px);
            width: rem-calc(66px);

            @include breakpoint(medium) {
              background-position: center -15px;
              background-size: rem-calc(76px 76px);
              width: rem-calc(76px);
            }
          }
        }
      }
    }
  }

  &__carousel {
    @include grid-row;
    margin-top: rem-calc(40px);

    &-inner {

      @include breakpoint(medium) {
        padding: rem-calc(0 50px);
      }
    }

    &-item {
      @include grid-col(6, 30px);
      float: left !important;
      margin-bottom: rem-calc(15px);
      text-align: center;

      @include breakpoint(medium) {
        @include grid-col(2, 10px);
        height: auto;
        min-height: rem-calc(150px);
      }

      @include breakpoint(large) {
        min-height: rem-calc(200px);
      }

      &:hover {

        h3 {
          color: $primary-color;
        }
      }

      h3 {
        transition: all .3s ease-in-out;
        margin: rem-calc(5px 0 0);
        text-transform: uppercase;
        color: $secondary-color;
        font: #{rem-calc(16px)} / #{1} $body-font-family;
        font-weight: 600;
      }
    }
  }

  &__block {
    background: $beige;
    padding: rem-calc(30px 0);

    @include breakpoint(large) {
      padding: rem-calc(70px 0);
    }

    &-inner {
      @include grid-row;
    }

    &-padding {

      @include breakpoint(medium) {
        padding: rem-calc(0 20px);
      }
    }

    &-image {
      @include grid-col;
      margin-bottom: rem-calc(10px);

      @include breakpoint(medium) {
        @include grid-col(6, 60px);
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        @include grid-col(7, 60px);
      }
    }

    &-text {
      @include grid-col;

      @include breakpoint(medium) {
        @include grid-col(6, 60px);
        display: table;
      }

      @include breakpoint(large) {
        @include grid-col(5, 60px);
      }

      h3 {
        text-transform: uppercase;
        line-height: 1.1;
        color: $orange;
        font-size: rem-calc(44px);

        @include breakpoint(large) {
          font-size: rem-calc(58px);
        }
      }

      h4 {
        margin-bottom: rem-calc(12px);
        background: url('images/dots.svg') repeat-x left bottom;
        background-size: rem-calc(775px 2px);
        padding-bottom: rem-calc(8px);
        color: $secondary-color;
      }

      .button {
        margin: rem-calc(10px 0 0);
      }
    }

    &-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.tax-products {

  .header__nav {

    li {

      &.products-link {

        a {
          border-color: $white;
        }
      }
    }
  }
}