.product {
  @include grid-row;
  padding-top: rem-calc(20px);

  @include breakpoint(medium) {
    padding-top: rem-calc(50px);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(60px);
  }

  &__mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: $primary-color;
    padding: rem-calc(30px 30px 15px);
    width: 100%;

    @include breakpoint(large) {
      display: none !important;
    }

    &-trigger {
      position: relative;
      transform: translateY(-50%);
      z-index: 4;
      margin: rem-calc(0 30px);
      border-radius: 10px;
      background: $light-primary;
      cursor: pointer;
      padding: rem-calc(10px);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $secondary-color;
      font-weight: 600;

      @include breakpoint(large) {
        display: none;
      }
    }

    ul {
      margin: 0;
      text-align: center;
    }

    li {
      @include grid-col(48%);
      display: inline-block;
      float: none !important;
      margin-top: rem-calc(15px);
      vertical-align: top;
      text-align: center;
      line-height: 1.1;
      font-weight: 600;
      list-style-type: none;

      @include breakpoint(medium) {
        @include grid-col(32%);
      }

      &:hover {

        a {
          color: $light-primary;
        }
      }

      &:last-child {
        @extend %image-replacement;
        @include grid-col(12);
        margin-top: rem-calc(15px);
        background: url('images/arrow-up.svg') no-repeat center center;
        background-size: rem-calc(11px 9px);
        height: rem-calc(20px);
      }

      img {
        display: block;
      }
    }

    a {
      color: $white;

      &.active {
        color: $light-primary;
      }
    }
  }

  &__wrapper {
    display: none;

    &.active {
      display: block;
    }
  }

  &__image {
    @include grid-col(12);
    position: relative;

    @include breakpoint(medium) {
      @include grid-col(6);
      display: table;
    }

    @include breakpoint(large) {
      @include grid-col(5);
      display: block;
    }

    &-wrapper {

      @include breakpoint(large) {
        display: block;
        position: absolute;
        bottom: rem-calc(-75px);
        width: calc(100% - 60px);
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;

      @include breakpoint(large) {
        width: auto;
        height: rem-calc(465px);
      }
    }
  }

  &__info {
    @include grid-col;

    @include breakpoint(large) {
      @include grid-col(7);
      position: relative;
      font-size: rem-calc(17px);
    }

    h2 {
      background: url('images/dots.svg') repeat-x left bottom;
      background-size: rem-calc(780px 2px);
      padding-bottom: rem-calc(12px);
      text-transform: uppercase;
      line-height: 1;
      font-size: rem-calc(84px);

      @include breakpoint(medium) {
        width: calc(100% - 100px);
      }

      &.thermometer-exists {
        width: 100%;
      }

      span {
        display: block;
        color: $secondary-color;

        &.product__subheader {
          margin-bottom: rem-calc(5px);
          text-transform: none;
          font-size: rem-calc(30px);
        }

        &.product__headertype {
          text-transform: none;
          font: #{rem-calc(20px)} / #{1} $alternate-font-family;
          font-style: italic;
        }
      }
    }

    p {
      margin: 0;

      @include breakpoint(medium) {
        width: calc(100% - 100px);
      }
    }
  }

  &__description {
    position: relative;

    @include breakpoint(large) {
      min-height: rem-calc(130px);
    }
  }

  &__thermometer {
    display: none;

    @include breakpoint(large) {
      display: block;
      position: absolute;
      top: rem-calc(10px);
      right: 0;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: rem-calc(68px 86px);
      width: rem-calc(68px);
      height: rem-calc(86px);
    }

    &.mild {
      background-image: url('images/AnnieChuns_Temp_Mild.svg');
    }

    &.mild-medium {
      background-image: url('images/AnnieChuns_Temp_MildMedium.svg');
    }

    &.medium {
      background-image: url('images/AnnieChuns_Temp_Medium.svg');
    }

    &.medium-hot {
      background-image: url('images/AnnieChuns_Temp_MediumHot.svg');
    }

    &.hot {
      background-image: url('images/AnnieChuns_Temp_Hot.svg');
    }
  }

  &__purchase {
    margin: rem-calc(10px 0 20px);
    list-style-type: none;

    li {
      display: inline-block;
      width: auto;
      min-width: 30%;
      font-weight: 700;
    }

    a {
      color: $body-font-color;

      &:hover {
        color: $primary-color;
      }

      i {
        margin: rem-calc(2px 0 0 3px);
        font-size: rem-calc(14px);
      }
    }
  }

  &__bar {
    padding: rem-calc(30px 0);

    &-inner {
      @include grid-row;
      color: $white;
    }
  }

  &__nutrition {
    display: none;

    @include breakpoint(large) {
      @include grid-col(5);
      display: block;
      margin-top: rem-calc(75px);
      text-align: center;
    }

    &--mobile {
      display: block;

      @include breakpoint(large) {
        display: none;
      }

      .button {
        display: block;
        margin-top: rem-calc(15px);
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  &__details {
    @include grid-col;

    @include breakpoint(large) {
      @include grid-col(7);
    }
  }

  &__stats {

    ul {
      margin: rem-calc(0 0 20px);

      @include breakpoint(large) {
        margin-bottom: rem-calc(40px);
      }

      &.minutes-only {

        .minutes {
          margin-top: 0;

          @include breakpoint(large) {
            width: 100%;
            padding-left: 0;

            span {
              display: inline;
            }
          }
        }
      }
    }

    li {
      display: inline-block;
      background: url('images/dots-white.svg') no-repeat right 0;
      background-size: rem-calc(2px 73px);
      width: 24%;
      vertical-align: top;
      text-align: center;
      list-style-type: none;

      @include breakpoint(large) {
        width: 15%;
      }

      &:nth-child(4) {
        background: none;

        @include breakpoint(large) {
          background: url('images/dots-white.svg') no-repeat right 0;
          background-size: rem-calc(2px 73px);
        }
      }

      &:last-child {
        background: none;
      }

      &.cholesterol {

        @include breakpoint(large) {
          width: 18%;
        }
      }

      &.minutes {
        margin-top: rem-calc(20px);
        width: 100%;
        text-align: left;
        text-transform: uppercase;
        color: $white;
        font: #{rem-calc(24px)} / #{1} $header-font-family;

        @include breakpoint(large) {
          margin-top: 0;
          padding-left: rem-calc(15px);
          width: 22%;
        }

        span {
          display: inline;

          @include breakpoint(large) {
            display: block;
          }
        }
      }

      .product-icon {
        @extend %image-replacement;
        display: block;
        margin: 0 auto;
        height: rem-calc(40px);

        @include breakpoint(medium) {
          height: rem-calc(47px);
        }

        &.non-gmo {
          background: url('images/ProductIcon_NonGMO.svg') no-repeat center -1px;
          background-size: rem-calc(52px 40px);
          width: rem-calc(52px);

          @include breakpoint(medium) {
            background-size: rem-calc(62px 48px);
            width: rem-calc(62px);
          }
        }

        &.organic {
          background: url('images/ProductIcon_Organic.svg') no-repeat center 0;
          background-size: rem-calc(41px 40px);
          width: rem-calc(41px);

          @include breakpoint(medium) {
            background-size: rem-calc(48px 47px);
            width: rem-calc(48px);
          }
        }

        &.vegan {
          background: url('images/ProductIcon_Vegan.svg') no-repeat center 0;
          background-size: rem-calc(42px 40px);
          width: rem-calc(42px);

          @include breakpoint(medium) {
            background-size: rem-calc(48px 46px);
            width: rem-calc(62px);
          }
        }

        &.certified-vegan {
          background: url('images/ProductIcon_CertifiedVegan.svg') no-repeat 45% 0;
          background-size: rem-calc(42px 42px);
          width: rem-calc(42px);

          @include breakpoint(medium) {
            background-size: rem-calc(47px 47px);
            width: rem-calc(62px);
          }
        }

        &.gluten-free {
          background: url('images/ProductIcon_GlutenFree.svg') no-repeat center 0;
          background-size: rem-calc(64px 40px);
          width: rem-calc(64px);

          @include breakpoint(medium) {
            background-size: rem-calc(74px 46px);
            width: rem-calc(74px);
          }
        }

        &.certified-gluten-free {
          background: url('images/ProductIcon_CertifiedGF.svg') no-repeat 45% 0;
          background-size: rem-calc(42px 42px);
          width: rem-calc(42px);

          @include breakpoint(medium) {
            background-size: rem-calc(47px 47px);
            width: rem-calc(62px);
          }
        }

        &.fat {
          background: url('images/ProductIcon_1gFat.svg') no-repeat center 0;
          background-size: rem-calc(54px 40px);
          width: rem-calc(54px);

          @include breakpoint(medium) {
            background-size: rem-calc(62px 46px);
            width: rem-calc(62px);
          }
        }

        &.fat-0 {
          background: url('images/ProductIcon_0gFat.svg') no-repeat center 0;
          background-size: rem-calc(54px 40px);
          width: rem-calc(54px);

          @include breakpoint(medium) {
            background-size: rem-calc(62px 46px);
            width: rem-calc(62px);
          }
        }

        &.low-fat {
          background: url('images/ProductIcon_LowFat.svg') no-repeat center 0;
          background-size: rem-calc(54px 40px);
          width: rem-calc(54px);

          @include breakpoint(medium) {
            background-size: rem-calc(62px 46px);
            width: rem-calc(62px);
          }
        }

        &.sat-fat {
          background: url('images/ProductIcon_1gSatFat.svg') no-repeat center 0;
          background-size: rem-calc(54px 40px);
          width: rem-calc(54px);

          @include breakpoint(medium) {
            background-size: rem-calc(62px 46px);
            width: rem-calc(62px);
          }
        }

        &.sat-fat-0 {
          background: url('images/ProductIcon_0gSatFat.svg') no-repeat center 0;
          background-size: rem-calc(54px 40px);
          width: rem-calc(54px);

          @include breakpoint(medium) {
            background-size: rem-calc(62px 46px);
            width: rem-calc(62px);
          }
        }

        &.cholesterol {
          background: url('images/ProductIcon_0gCholesterol.svg') no-repeat center -13px;
          background-size: rem-calc(66px 66px);
          width: rem-calc(66px);

          @include breakpoint(medium) {
            background-position: center -15px;
            background-size: rem-calc(76px 76px);
            width: rem-calc(76px);
          }
        }
      }
    }
  }

  &__ingredients {

    p {
      margin: 0;
      line-height: 1.2;
      font-size: rem-calc(12px);
    }
  }

  &__recipe {
    background: $beige;
    padding: rem-calc(30px 0);
    color: $secondary-color;

    @include breakpoint(large) {
      padding: rem-calc(70px 0);
    }

    &-inner {
      @include grid-row;
    }

    &-image {
      @include grid-col;
      margin-bottom: rem-calc(10px);

      @include breakpoint(medium) {
        @include grid-col(6);
        @include grid-column-position(6);
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        @include grid-col(7);
        @include grid-column-position(5);
      }
    }

    &-text {
      @include grid-col;

      @include breakpoint(medium) {
        @include grid-col(6);
        @include grid-column-position(-6);
        display: table;
      }

      @include breakpoint(large) {
        @include grid-col(5);
        @include grid-column-position(-7);
      }

      h3 {
        text-transform: uppercase;
        line-height: 1.1;
        font-size: rem-calc(44px);

        @include breakpoint(large) {
          font-size: rem-calc(58px);
        }
      }

      h4 {
        margin-bottom: rem-calc(12px);
        background: url('images/dots.svg') repeat-x left bottom;
        background-size: rem-calc(775px 2px);
        padding-bottom: rem-calc(8px);
      }
    }

    &-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__carousel {
    @include grid-row;
    padding-top: rem-calc(30px);
    padding-bottom: rem-calc(30px);
    text-align: center;

    @include breakpoint(large) {
      padding-top: rem-calc(50px);
      padding-bottom: rem-calc(50px);
    }

    h3 {
      color: $secondary-color;
      font-size: rem-calc(26px);

      @include breakpoint(large) {
        font-size: rem-calc(30px);
      }
    }
  }
}
