.recipes {

  &__hero {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: rem-calc(210px);

    @include breakpoint(medium) {
      height: rem-calc(350px);
    }

    @include breakpoint(large) {
      height: rem-calc(440px);
    }

    &-inner {
      @include grid-column-row;
      display: table;
      height: 100%;

      h1 {
        display: none;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1;
        color: $secondary-color;
        font-size: rem-calc(80px);

        @include breakpoint(medium) {
          display: table-cell;
        }

        @include breakpoint(large) {
          font-size: rem-calc(110px);
        }

        span {
          display: block;
          color: $beige-alt;
        }
      }
    }
  }

  &__body {
    position: relative;
  }

  &__filter {
    display: none;

    @include breakpoint(medium) {
      @include grid-row;
      display: block;
      margin-top: rem-calc(-30px);
      text-align: center;
      font-size: rem-calc(16px);
    }

    &-mobile {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      background: $primary-color;
      padding: rem-calc(30px 30px 15px);
      width: 100%;

      @include breakpoint(medium) {
        display: none !important;
      }

      &-trigger {
        position: relative;
        transform: translateY(-50%);
        z-index: 4;
        margin: rem-calc(0 30px);
        border-radius: 10px;
        background: $light-primary;
        cursor: pointer;
        padding: rem-calc(10px);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $secondary-color;
        font-weight: 600;

        @include breakpoint(medium) {
          display: none;
        }
      }

      ul {
        margin: 0;
      }

      li {
        background: url('images/dots-white-horizontal.svg') repeat-x left bottom;
        background-size: rem-calc(778px 2px);
        cursor: pointer;
        padding: rem-calc(8px 0);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $white;
        font-weight: 600;
        list-style-type: none;

        &.active,
        &:hover {
          color: $light-primary;
        }

        &:last-child {
          @extend %image-replacement;
          margin-top: rem-calc(15px);
          background: url('images/arrow-up.svg') no-repeat center center;
          background-size: rem-calc(11px 9px);
          height: rem-calc(20px);
        }
      }
    }

    ul {
      display: inline-block;
      margin: 0;
      border-radius: 10px;
      background: $light-primary;
      padding: rem-calc(0 10px);
      height: rem-calc(60px);
    }

    li {
      display: inline-block;
      margin: rem-calc(0 10px);
      cursor: pointer;
      text-transform: uppercase;
      line-height: rem-calc(60px);
      color: $secondary-color;
      font-weight: 600;

      &.label {
        cursor: default;
        text-transform: none;
        font-weight: 400;
      }

      &.active {
        color: $primary-color;
      }
    }
  }

  &__grid {
    @include grid-row;
    padding: rem-calc(20px 0);

    @include breakpoint(medium) {
      padding: rem-calc(40px 0);
    }

    @include breakpoint(large) {
      padding: rem-calc(90px 0 60px);
    }

    &-inner {
      padding: rem-calc(0 20px);

      @include breakpoint(medium) {
        padding: rem-calc(0 50px);
      }
    }
  }

  &__item {
    @include grid-col(12, 20px);
    float: left !important;

    @include breakpoint(medium) {
      @include grid-col(4, 20px);
    }

    &-inner {
      margin-bottom: rem-calc(20px);
      background: $beige;
      text-align: left;

      &:hover {

        h3 {
          color: $primary-color;
        }
      }
    }

    h3 {
      transition: all .3s ease-in-out;
      margin: 0;
      padding: rem-calc(15px);
      text-transform: uppercase;
      line-height: 1;
      color: $secondary-color;
    }
  }

  &__products {
    @include grid-row;
    padding-bottom: rem-calc(40px);
    text-align: center;

    @include breakpoint(large) {
      padding-bottom: rem-calc(70px);
    }

    &-inner {

      @include breakpoint(medium) {
        padding: rem-calc(0 20px);
      }
    }

    h3 {
      color: $secondary-color;
      font-size: rem-calc(26px);

      @include breakpoint(large) {
        font-size: rem-calc(30px);
      }
    }
  }
}
