.recipe {

  &__hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: rem-calc(240px);

    @include breakpoint(medium) {
      height: rem-calc(460px);
    }

    @include breakpoint(large) {
      height: rem-calc(680px);
    }

    @media print {
      display: none;
    }

    &-wrapper {
      position: relative;
    }

    &-inner {

      @include breakpoint(medium) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        max-width: rem-calc(1180px);
      }

      @media print {
        @include grid-row;
      }
    }

    &-image {
      display: none;

      @media print {
        @include grid-col(6);
        display: block;
        padding-top: rem-calc(30px);
      }
    }

    &-box {
      background: rgb(245, 236, 220);
      background: rgba(245, 236, 220, .85);
      padding: rem-calc(30px);
      width: 100%;
      color: $secondary-color;
      font: rem-calc(16px) $alternate-font-family;
      font-style: italic;

      @include breakpoint(medium) {
        margin-left: rem-calc(30px);
        padding: rem-calc(20px);
        max-width: rem-calc(400px);
        font-size: rem-calc(21px);
      }

      @include breakpoint(xlarge) {
        margin-left: 0;
      }

      @media print {
        @include grid-col(6);
      }

      h1 {
        margin: rem-calc(0 0 15px);
        background: url('images/dots.svg') repeat-x left bottom;
        background-size: rem-calc(778px 2px);
        padding-bottom: rem-calc(15px);
        text-transform: uppercase;
        line-height: 1;

        @media print {
          margin: 0;
          font-size: rem-calc(36px);
        }
      }

      p {
        margin: 0;
      }
    }
  }

  &__bar {
    padding: rem-calc(20px 0 10px);
    text-transform: uppercase;
    line-height: 1;
    color: $white;
    font-family: $header-font-family;

    @include breakpoint(large) {
      padding: rem-calc(30px 0);
    }

    @include breakpoint(xlarge) {
      font-size: rem-calc(18px);
    }

    @media print {
      background: transparent !important;
      padding: 0;
      font-size: rem-calc(8px);
    }

    &-inner {
      @include grid-row;
    }

    &-pad {
      padding: rem-calc(0 20px);
    }

    span {
      display: block;
      margin: rem-calc(8px 0 0);
      line-height: .8;
      font-size: rem-calc(38px);

      @include breakpoint(xlarge) {
        font-size: rem-calc(48px);
      }

      @media print {
        font-size: rem-calc(24px);
      }
    }
  }

  &__spec {
    @include grid-col(3, 20px);
    position: relative;
    background: url('images/dots-white.svg') no-repeat right 0;
    background-size: rem-calc(2px 73px);
    text-align: center;

    @include breakpoint(large) {
      @include grid-col(18%, 20px);
    }

    @media print {
      @include grid-col(18%);
      background: none;
    }

    &:nth-child(4) {
      background: none;

      @include breakpoint(large) {
        background: url('images/dots-white.svg') no-repeat right 0;
        background-size: rem-calc(2px 73px);
      }
    }

    &-divider {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: rem-calc(2px);
      height: rem-calc(38px);
      overflow: hidden;

      @media print {
        display: block;
      }
    }
  }

  &__difficulty {
    @include grid-col(12, 20px);
    margin-top: rem-calc(15px);
    line-height: rem-calc(50px);
    font-size: rem-calc(28px);

    @include breakpoint(large) {
      @include grid-col(28%, 60px);
      margin-top: 0;
    }

    @include breakpoint(xlarge) {
      line-height: rem-calc(60px);
      font-size: rem-calc(33px);
    }

    @media print {
      @include grid-col(28%);
      margin-top: 0;
      line-height: rem-calc(40px);
      font-size: rem-calc(18px);
    }
  }

  &__content {
    @include grid-row;
    padding: rem-calc(40px 0 0);
    font-size: rem-calc(17px);

    @include breakpoint(large) {
      padding: rem-calc(80px 0);
    }

    @media print {
      padding: 0;
      font-size: rem-calc(14px);
    }

    h2 {
      margin: rem-calc(0 0 15px);
      background: url('images/dots.svg') repeat-x left bottom;
      background-size: rem-calc(775px 2px);
      padding-bottom: rem-calc(15px);
      text-transform: uppercase;
      line-height: 1;
      font-size: rem-calc(44px);

      @include breakpoint(large) {
        font-size: rem-calc(58px);
      }

      @media print {
        margin-bottom: 0;
        font-size: rem-calc(24px);
      }
    }
  }

  &__ingredients {
    @include grid-col;

    @include breakpoint(medium) {
      @include grid-col(5);
    }

    @include breakpoint(large) {
      @include grid-col(4);
    }

    @media print {
      @include grid-col(4);
    }

    h2 {

      @include breakpoint(medium) {
        display: inline-block;
      }
    }

    ul {
      margin: 0;
      list-style-type: none;
    }
  }

  &__method {
    @include grid-col;
    margin-top: rem-calc(40px);

    @include breakpoint(medium) {
      @include grid-col(7);
      margin-top: 0;
    }

    @include breakpoint(large) {
      @include grid-col(66%);
    }

    @media print {
      @include grid-col(65%);
      margin-top: 0;
    }

    &-title {
      position: relative;
    }
  }

  &__products {
    @include grid-row;
    margin-top: rem-calc(30px);

    li {
      @include grid-col(4, 20px);
      float: left !important;
      list-style-type: none;

      @include breakpoint(large) {
        @include grid-col(2, 20px);
      }

      @media print {
        @include grid-col(2, 20px);
      }
    }
  }

  &__share {

    &--desktop {
      display: none;

      @include breakpoint(medium) {
        display: block;
        position: absolute;
        top: rem-calc(7px);
        right: rem-calc(-7px);
      }

      @include breakpoint(large) {
        top: rem-calc(18px);
      }
    }

    &--mobile {
      margin: rem-calc(20px 0 30px);
      background: url('images/dots.svg') repeat-x left bottom, url('images/dots.svg') repeat-x left top;
      background-size: rem-calc(775px 2px);
      padding: rem-calc(10px 0);
      text-align: center;

      @include breakpoint(medium) {
        display: none;
      }

      @media print {
        display: none;
      }
    }

    ul {
      margin: 0;
      list-style-type: none;
    }

    li {
      display: inline-block;
      margin: rem-calc(0 7px);
      width: rem-calc(24px);

      &.facebook {
        margin: rem-calc(0 2px 0 7px);
      }

      img {
        width: rem-calc(24px);
        height: rem-calc(24px);
      }
    }

    a {
      display: block;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__related {
    @include grid-row;
    padding-bottom: rem-calc(30px);
    text-align: center;

    @include breakpoint(medium) {
      margin-top: rem-calc(40px);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(20px);
      padding-bottom: rem-calc(60px);
    }

    @media print {
      display: none;
    }

    &-grid {
      @include grid-row;
      margin-bottom: rem-calc(20px);

      @include breakpoint(medium) {
        text-align: center;
      }

      @include breakpoint(large) {
        margin-bottom: rem-calc(40px);
      }

      &-inner {
        padding: rem-calc(0 20px);

        @include breakpoint(medium) {
          padding: rem-calc(0 40px);
        }
      }
    }

    .recipes__item {
      @include grid-col(6, 20px);

      @include breakpoint(medium) {
        @include grid-col(4, 20px);
      }

      &:nth-child(3) {
        display: none;

        @include breakpoint(medium) {
          display: block;
        }
      }

      &-inner {
        margin-bottom: 0;
      }
    }
  }
}

.single-recipes {

  .header__nav {

    li {

      &.recipes-link {

        a {
          border-color: $white;
        }
      }
    }
  }
}