.story {

  &__hero {
    background-color: $beige;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;

    @include breakpoint(medium) {
      background-position: 60% center;
      background-size: cover;
      padding-top: rem-calc(40px);
      padding-bottom: rem-calc(80px);
    }

    @include breakpoint(large) {
      padding-top: rem-calc(80px);
      padding-bottom: rem-calc(160px);
    }

    @include breakpoint(xlarge) {
      background-position: 80% center;
    }

    &-inner {
      @include grid-column-row;
    }

    &-text {
      @include grid-col;
      padding-top: 90%;
      padding-bottom: rem-calc(20px);
      text-align: center;
      color: $secondary-color;

      @include breakpoint(medium) {
        @include grid-col(6);
        padding-top: 0;
        padding-bottom: 0;
      }

      @include breakpoint(large) {
        @include grid-col(54%);
      }

      .down {
        @extend %image-replacement;
        display: block;
        margin: rem-calc(10px) auto 0;
        background: url('images/arrow-down.svg') no-repeat 0 0;
        background-size: rem-calc(47px 24px);
        width: rem-calc(47px);
        height: rem-calc(24px);
      }
    }

    h1 {
      text-transform: uppercase;
      line-height: 1.1;
      color: $secondary-color;
      font-size: rem-calc(24px);

      @include breakpoint(medium) {
        font-size: rem-calc(36px);
      }

      @include breakpoint(large) {
        line-height: 1;
        font-size: rem-calc(74px);
      }

      @include breakpoint(small only) {
        br {
          display: none;
        }
      }

      strong {
        color: $primary-color;
        font-weight: 400;
      }
    }

    p {
      margin: rem-calc(15px 0 0);
      background: url('images/dots.svg') repeat-x left top;
      background-size: rem-calc(778px 2px);
      padding-top: rem-calc(20px);
      font-family: $alternate-font-family;
      font-style: italic;

      @include breakpoint(large) {
        font-size: rem-calc(22px);
      }
    }
  }

  &__separator {
    margin: rem-calc(-30px) auto 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    padding-bottom: 15%;
    width: 100%;
    max-width: rem-calc(1300px);

    @include breakpoint(medium) {
      margin-top: rem-calc(-50px);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(-130px);
    }
  }

  &__section {
    position: relative;
    padding: rem-calc(35px 0);

    &:nth-child(even) {
      background: $beige;

      .story__section-text {
        @include grid-column-position(0);
      }

      h2 {

        span {
          color: $orange-alt;
        }
      }
    }

    &-inner {
      @include grid-row;

      @include breakpoint(medium) {

        &-1 {
          height: rem-calc(850px);

          .story__section-text {
            padding-bottom: rem-calc(100px);
          }
        }

        &-2 {
          height: rem-calc(795px);
        }

        &-3 {
          height: rem-calc(650px);
        }
      }
    }

    &-text {
      @include grid-col;
      text-align: center;
      color: $secondary-color;
      font-family: $alternate-font-family;
      font-style: italic;

      @include breakpoint(medium) {
        @include grid-col(6);
        @include grid-column-position(6);
        top: 50%;
        transform: translateY(-50%);
      }

      @include breakpoint(large) {
        font-size: rem-calc(22px);
      }

      ul {
        text-align: center;

        &.desktop {
          display: none;

          @include breakpoint(medium) {
            display: block;
            margin: rem-calc(0 0 20px);
          }
        }

        &.mobile {
          display: block;
          margin: rem-calc(10px 0 20px);

          @include breakpoint(medium) {
            display: none;
          }
        }
      }

      li {
        @extend %image-replacement;
        display: inline-block;
        margin: rem-calc(0 5px);
        height: rem-calc(80px);
        list-style-type: none;

        &.non-gmo {
          background: url('images/ProductIcon_NonGMO.svg') no-repeat center 0;
          background-size: rem-calc(110px 80px);
          width: rem-calc(110px);
        }

        &.organic {
          background: url('images/ProductIcon_Organic.svg') no-repeat center 0;
          background-size: rem-calc(80px 80px);
          width: rem-calc(80px);
        }
      }
    }

    &-image {
      position: relative;
      z-index: 2;
      background-repeat: no-repeat;
      background-size: 100% auto;

      @include breakpoint(medium) {
        position: absolute;
      }

      &-1 {
        padding-bottom: 100%;

        @include breakpoint(medium) {
          bottom: -15%;
          right: 50%;
          padding: 0;
          width: rem-calc(891px);
          height: rem-calc(891px);
        }
      }

      &-2 {
        padding-bottom: 100%;

        @include breakpoint(medium) {
          top: rem-calc(-100px);
          left: 50%;
          padding: 0;
          width: rem-calc(1020px);
          height: rem-calc(997px);
        }
      }

      &-3 {
        display: none;

        @include breakpoint(medium) {
          display: block;
          bottom: 0;
          right: 50%;
          background-size: 100% auto;
          width: rem-calc(1115px);
          height: rem-calc(1073px);
        }
      }
    }

    h2 {
      position: relative;
      margin-bottom: rem-calc(20px);
      padding-bottom: rem-calc(20px);
      text-transform: uppercase;
      line-height: 1;
      color: $secondary-color;
      font-size: rem-calc(50px);

      @include breakpoint(large) {
        font-size: rem-calc(96px);
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: rem-calc(-170px);
        background: url('images/dots.svg') repeat-x left top;
        background-size: rem-calc(778px 2px);
        width: rem-calc(340px);
        height: rem-calc(2px);
        content: '';
      }
      
      span {
        display: block;
        color: $green;
      }
    }

    p {
      margin: 0 auto;
      width: 100%;
      max-width: rem-calc(500px);
    }
  }

  &__endcap {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &-inner {
      @include grid-column-row;
      display: table;
      height: rem-calc(250px);

      @include breakpoint(medium) {
        height: rem-calc(550px);
      }

      @include breakpoint(large) {
        height: rem-calc(720px);
      }
    }

    &--mobile {
      background: $beige;
      padding: rem-calc(15px 35px);
      text-align: center;
      text-transform: uppercase;
      color: $secondary-color;
      font: rem-calc(26px) $header-font-family;

      @include breakpoint(medium) {
        display: none;
      }
    }

    h2 {
      display: none;
      margin: 0;
      vertical-align: middle;
      text-align: center;
      line-height: 1;
      color: $white;
      font-size: rem-calc(70px);

      @include breakpoint(medium) {
        display: table-cell;
      }
    }
  }

  &__products {
    @include grid-row;
    padding: rem-calc(35px 0);

    @include breakpoint(medium) {
      padding: rem-calc(70px 0);
    }

    &-inner {
      text-align: center;

      h3 {
        display: none;

        @include breakpoint(medium) {
          display: block;
          margin: rem-calc(0 0 15px);
          line-height: 1;
          color: $secondary-color;
          font-size: rem-calc(30px);
        }
      }

      .button {
        margin: 0;
      }
    }
  }
}
