.button {
  display: inline-block;
  position: relative;
  margin: 1rem 0;
  border-radius: 5px;
  background: $primary-color;
  padding: rem-calc(10px 35px);
  text-transform: uppercase;
  color: $white;
  font-size: rem-calc(16px);
  font-weight: 600;

  &:hover {
    background: $light-primary;
    color: $primary-color;
  }

  &:focus {
    color: $white;
    outline: none;
  }
  
  &--dotted {
    border: 1px solid dotted;
    border-radius: 0;
    background: none;
    padding: rem-calc(10px 45px);

    &:hover {
      border-color: $white;
      background: $white;
      color: $primary-color;
    }
  }
}
