.product-carousel {
  @include grid-row;
  padding: rem-calc(15px 0);

  @include breakpoint(large) {
    padding: rem-calc(30px 0);
  }

  &__inner {

    @include breakpoint(medium) {
      padding: rem-calc(0 20px);
    }
  }

  &__item {
    @include grid-col;

    @include breakpoint(medium) {
      @include grid-col(4, 30px);
    }

    @include breakpoint(large) {
      @include grid-col(3, 30px);
    }

    &-inner {
      padding: rem-calc(0 20px);

      @include breakpoint(xlarge) {
        padding: 0;
      }

      &:hover {

        h4 {
          color: $primary-color;
        }
      }
    }

    h4 {
      margin: rem-calc(10px 0 0);
      transition: all .3s ease-in-out;
      text-transform: uppercase;
      color: $secondary-color;
      font: rem-calc(16px) $body-font-family;
      font-weight: 600;
    }
  }
}
