.gform_wrapper {
  margin-top: rem-calc(3px);

  .left-quarter {
    float: left;
    width: calc(50% - 10px);

    @include breakpoint(medium) {
      margin-left: rem-calc(20px);
      width: calc(25% - 15px);
    }
  }

  .right-quarter {
    float: right;
    width: calc(50% - 10px);

    @include breakpoint(medium) {
      width: calc(25% - 15px);
    }
  }

  .left-half {

    @include breakpoint(medium) {
      float: left;
      width: calc(50% - 10px);
    }
  }

  .right-half {

    @include breakpoint(medium) {
      float: right;
      width: calc(50% - 10px);
    }
  }

  .example-field {
    float: left;
    width: calc(100% - 100px);

    @include breakpoint(large) {
      margin-right: rem-calc(10px);
      width: calc(50% - 100px);

      &.manufacturing {
        margin-left: rem-calc(20px);
      }
    }
  }

  .example-link {
    float: right;
    width: rem-calc(80px);
    line-height: rem-calc(40px);
    font-size: rem-calc(12px);

    @include breakpoint(large) {
      float: left;
    }
  }

  ul {
    margin: 0;
    list-style: none outside none;
  }

  li {
    position: relative;
  }

  label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .gfield_checkbox label {
    display: inline-block;
    max-width: 80%;
  }

  .gfield_required {
    padding-left: 5px;
    color: $warning-color;
  }

  [type=color],
  [type=date],
  [type=datetime-local],
  [type=datetime],
  [type=email],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=text],
  [type=time],
  [type=url],
  [type=week],
  textarea {
    padding: rem-calc(8px 18px);
  }

  textarea {
    height: 135px;
    resize: none;
  }

  .button {
    transition: all .3s ease-in-out;
    margin: 0;
    border: 0;
  }

  // error styling
  .validation_error {
    margin-bottom: 20px;
    border-left: 5px solid $primary-color;
    background: $light-primary;
    padding: 10px;
    text-align: center;
    color: $primary-color;
  }

  .validation_message {
    display: none;
  }

  .gfield_error input,
  .gfield_error textarea {
    border: 1px solid $primary-color;
  }
}

#gforms_confirmation_message {
  margin-bottom: 20px;
  border-left: 5px solid $primary-color;
  background: $light-primary;
  padding: 10px;
  text-align: center;
  color: $primary-color;
}
