.mobile-menu {
  display: none;
  position: fixed;
  top: rem-calc(72px);
  left: 0;
  z-index: 5;
  background: $primary-color;
  padding: rem-calc(5px 30px);
  width: 100%;
  text-align: center;

  @include breakpoint(large) {
    display: none !important;
  }

  ul {
    margin: 0;
  }

  li {
    display: block;
  }

  a {
    display: block;
    padding: rem-calc(10px 0);
    color: $white;

    &:hover {
      color: $light-primary;
    }
  }

  &__nav {

    li {
      background: url('images/dots-white-horizontal.svg') repeat-x left bottom;
      background-size: rem-calc(778px 2px);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__supp {
    margin-top: rem-calc(5px);
    
    li {

      &.cj-logo {
        display: none;
      }
    }

    a {
      padding: rem-calc(5px 0);
    }
  }

  &__social {

    li {
      display: inline-block;
      margin: rem-calc(0 15px);
      font-size: rem-calc(26px);
    }
  }
}
