.footer {
  background: $primary-color url('images/M.Nav_Texture_Footer.jpg') repeat center;
  background-size: auto 100%;
  padding: rem-calc(25px 0 15px);

  @include breakpoint(medium) {
    background-image: url('images/Nav_Texture_Footer.jpg');
  }

  @media print {
    display: none;
  }

  &__top {
    @include grid-row;
    padding-bottom: rem-calc(20px);
  }

  &__nav {
    @include grid-col;
    padding-top: rem-calc(10px);
    text-align: center;

    @include breakpoint(large) {
      @include grid-col(7);
      text-align: left;
    }

    ul {
      display: inline-block;
      margin: 0;
      list-style-type: none;

      &.footer__social {

        li {
          margin-right: rem-calc(20px);
          font-size: rem-calc(27px);

          &:last-child {
            margin-right: 0;
          }
        }

        a {

          &:hover {
            color: $yellow-hover;
          }
        }
      }

      &.footer__supp {

        li {
          margin-left: rem-calc(25px);

          @include breakpoint(large) {
            margin-left: rem-calc(30px);
          }
        }

        a {

          &:hover {
            color: $yellow-hover;
          }
        }
      }
    }

    li {
      display: inline-block;
      text-transform: uppercase;
      font: #{rem-calc(24px)} / #{rem-calc(27px)} $header-font-family;
    }

    a {
      display: block;
      color: $white;
    }
  }

  &__terms {
    @include grid-col;
    margin-top: rem-calc(10px);
    text-align: center;

    @include breakpoint(large) {
      @include grid-col(5);
      margin-top: 0;
      text-align: right;
    }

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      margin: rem-calc(0 8px);
      vertical-align: middle;
      list-style-type: none;

      @include breakpoint(medium) {
        margin: rem-calc(0 0 0 15px);

        &:first-child {
          margin-left: 0;
        }
      }
    }

    a {
      display: block;
      border-bottom: 1px solid transparent;
      color: $white;

      &:hover {
        color: $yellow-hover;
      }
    }

    .cj-logo {
      display: none;

      @include breakpoint(large) {
        display: inline-block;
      }

      a {
        @extend %image-replacement;
        margin-top: rem-calc(-6px);
        border-bottom: 0;
        background: url('images/CJ_Logo.svg') no-repeat 0 0;
        background-size: rem-calc(64px 56px);
        width: rem-calc(64px);
        height: rem-calc(56px);

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &__bottom {
    @include grid-row;

    &-inner {
      @include grid-col;
      position: relative;
      padding-top: rem-calc(20px);
      text-align: center;

      @include breakpoint(large) {
        text-align: right;
      }

      &::before {
        position: absolute;
        top: 0;
        left: rem-calc(30px);
        border-top: 1px dotted $white;
        width: calc(100% - 60px);
        content: '';

        @include breakpoint(medium) {
          left: rem-calc(50px);
          width: calc(100% - 100px);
        }
      }
    }

    p {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      text-align: right;
      color: $white;
      font-size: rem-calc(12px);

      @include breakpoint(medium) {
        font-size: rem-calc(14px);
      }
    }

    .cj-logo {
      @extend %image-replacement;
      display: inline-block;
      margin-right: rem-calc(5px);
      border-bottom: 0;
      background: url('images/CJ_Logo.svg') no-repeat 0 0;
      background-size: rem-calc(45px) auto;
      width: rem-calc(45px);
      height: rem-calc(39px);
      vertical-align: middle;

      @include breakpoint(large) {
        display: none;
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}
