.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s ease-in-out;
  z-index: 10;
  background: $primary-color url('images/M.Nav_Texture_Header.jpg') repeat center;
  background-size: auto 100%;
  padding: rem-calc(8px 0);
  width: 100%;
  overflow: hidden;

  @include breakpoint(medium) {
    background-image: url('images/Nav_Texture_Header.jpg');
  }

  @include breakpoint(large) {
    padding: rem-calc(15px 0);

    &.shrink {
      padding: 0;
      height: rem-calc(60px);

      .header__logo {
        opacity: 0;
        cursor: default;
      }

      .header__social {
        opacity: 0;

        a {
          cursor: default;
        }
      }

      .header__nav {

        ul {
          margin-top: rem-calc(17px);
        }
      }
    }
  }

  @media print {
    display: none;
  }

  &__inner {
    @include grid-column-row;
  }

  &__logo {
    @extend %image-replacement;
    display: block;
    margin: 0 auto;
    background: url('images/AnnieChuns_Logo.png') no-repeat center 0;
    background-size: rem-calc(131px 57px);
    width: rem-calc(131px);
    height: rem-calc(57px);

    @include breakpoint(large) {
      float: left;
      margin: 0;
      background-size: rem-calc(164px 71px);
      width: rem-calc(164px);
      height: rem-calc(71px);
    }
  }

  &__social {
    display: none;

    @include breakpoint(large) {
      display: block;
      float: right;
      transition: all .3s ease-in-out;
      margin: rem-calc(19px 0 0);
    }

    li {
      display: inline-block;
      margin: rem-calc(0 15px 0 0);
      font-size: rem-calc(22px);
      list-style-type: none;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      display: block;
      color: $white;

      &:hover {
        color: $yellow-hover;
      }
    }
  }

  &__nav {
    display: none;

    @include breakpoint(large) {
      display: block;
      float: left;
      width: calc(100% - 310px);
      text-align: center;
    }

    ul {
      margin: rem-calc(23px 0 0);
    }

    li {
      display: inline-block;
      margin: rem-calc(0 20px);
      list-style-type: none;

      &.current-menu-item {

        a {
          color: $yellow-hover;
        }
      }
    }

    a {
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $white;
      font-size: rem-calc(17px);
      font-weight: 600;

      &:hover {
        color: $yellow-hover;
      }
    }
  }

  &__mobile {
    position: absolute;
    top: rem-calc(22px);
    right: rem-calc(30px);

    @include breakpoint(medium) {
      right: rem-calc(50px);
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  &__icon {
    width: rem-calc(32px);
    height: rem-calc(32px);
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    &:hover {

      span {
        background: $light-primary;
      }
    }

    &.open {

      span {

        &:nth-child(1) {
          transform: rotate(45deg);
          top: -3px;
          left: 4px;
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 20px;
          left: 4px;
        }
      }
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $white;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 10px;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 20px;
        transform-origin: left center;
      }
    }
  }
}

.admin-bar {

  header {
    top: rem-calc(46px);

    @media screen and (min-width: 783px) {
      top: rem-calc(32px);
    }
  }

  .mobile-menu {
    top: rem-calc(118px);

    @media screen and (min-width: 783px) {
      top: rem-calc(104px);
    }
  }
}
